@import '../../styles/settings.scss';

.columnForm {

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;

    span {
        margin: 5px 10px;
        font-size: 1.2rem;
        letter-spacing: 2px;
        color: $color-success;
        font-weight: bold;
    }

    input {
        max-width: 100%;
        color: $color-warning;
    }
}

@media (max-width: 768px) {
    .columnForm {
        flex-direction: column;
        width: 33%;
    }

    .columnForm Button {
        margin-top: 30px;
    }
}