@import '../../styles/settings.scss';

.hero {
  padding: $base-size;
}

.subtitle {
  padding: $base-size 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: bold;
  -webkit-text-stroke: 1px $color-three;
  background: linear-gradient(to right, $color-light, $color-success, $color-light, $color-success);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: (- $base-size * 3);
}