@use "sass:math";
@import '../../styles/settings.scss';

.column {
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 $base-size 30px 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 $color-three;
  color: $color-dark;
  border: 5px solid;
  border-image: linear-gradient(to right, $color-three, $color-success);
  border-image-slice: 1; 

  &:last-child {
    margin: 0 0 $base-size 0;
  }
}

.column:hover {
  transform: scale(1.1);
}

.title {
  text-align: center;
  font-size: ($base-size * 1.5);
  margin: 0 0 ($base-size * 1.5) 0;
  color: $color-three;
}

.icon::before {
  padding-right: $base-size;
  background: linear-gradient(to right, $color-success, $color-three);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-size: ($base-size * 2);
  vertical-align: middle;
  position: relative;
  top: - math.div($base-size, 3);
}

.cards {
  padding: math.div($base-size, 2) 0;
}

@media (max-width: 768px) {
  .column, .column:last-child {
    width: 90%;
    margin: 20px 25px;
  }

  .column:hover {
    transform: scale(1);
    background: linear-gradient(to left, $color-four, $color-light);
    border: 5px outset $color-three;

  }
}