@import '../../styles/settings.scss';

.card {
    position: relative;
    background: linear-gradient(to left, $color-four, $color-light);
    border: 1px solid $color-dark;
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: $color-warning;
}

@media (max-width: 768px) {
    .card {
        background: $color-light;
    }
}