@import '../../styles/settings.scss';

.listForm {

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px 30px;

    span {
        margin: 5px 10px;
        font-size: 20px;
        letter-spacing: 2px;
        color: $color-success;
        font-weight: bold;
        padding-left: 30px;
    }

    input {
        max-width: 100%;
        color: $color-warning;
    }
}

@media (max-width: 768px) {
    .listForm {
        flex-direction: column;
        width: 33%;
    }

    .listForm Button {
        margin-top: 30px;
    }
}