@import '../../styles/settings.scss';

.input {
    min-width: 200px;
    border: 2px solid;
    border-image: linear-gradient(to right, $color-two, $color-success);
    border-image-slice: 1;
    padding: $base-size (
        $base-size * 1.5
    );
margin: 0 0 $base-size 0;
font-family: $font-text;
border-radius: $radius;
color: $color-warning;
background: linear-gradient(to top, $color-two, $color-light, $color-two);
}

.input::placeholder {
    color: $color-three;
    font-weight: bold;
    font-style: italic;
}