@use "sass:math";
@import '../../styles/settings.scss';

.column {
    flex-shrink: 0;
    width: 100%;
    max-width: 400px;
    background: $color-light;
    margin: 0 auto;
    padding: ($base-size * 1.5);
    border-radius: $radius;
    box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
    color: $color-dark;

    &:hover {
        transform: scale(1.1);
    }
}

.card {
    padding: math.div($base-size, 2) 0;
}

.noCards {
    padding: ($base-size * 2) 0;
    text-align: center;
    font-size: ($base-size * 2);
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 1px $color-three;
    background: linear-gradient(to right, $color-light, $color-success, $color-light, $color-success);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: ($base-size * 4);
    animation: zoomIn 8s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 767px) {
    .column {
        width: calc(100% - 12px);
    }
}